services:
  - type: web
    name: nepshop
    env: docker
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: SESSION_SECRET
        generateValue: true
      - key: PORT
        value: 5000
